<?xml version="1.0"?>
<config>
    <modules>
        <Pittarosso_ShipmentForm>
            <version>0.1.0</version>
        </Pittarosso_ShipmentForm>
    </modules>
    <global>
        <blocks>
            <pittarosso_shipmentform>
                <class>Pittarosso_ShipmentForm_Block</class>
            </pittarosso_shipmentform>
            <adminhtml>
                <rewrite>
                    <!--<sales_order_shipment_create_items>Pittarosso_ShipmentForm_Block_Items</sales_order_shipment_create_items>-->
                    <sales_order_shipment_create_items>Pittarosso_ShipmentForm_Block_Rewrite_Adminhtml_Sales_Order_Shipment_Create_Items</sales_order_shipment_create_items>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <pittarosso_shipmentform>
                <class>Pittarosso_ShipmentForm_Helper</class>
            </pittarosso_shipmentform>
        </helpers>
        <models>
            <sales>
                <rewrite>
                    <order>Pittarosso_ShipmentForm_Model_Order</order>
                    <order_pdf_invoice>Pittarosso_ShipmentForm_Model_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_shipment>Pittarosso_ShipmentForm_Model_Order_Shipment</order_shipment>
                </rewrite>
            </sales>
            <flatratesda>
                <rewrite>
                    <shipment_sda>Pittarosso_ShipmentForm_Model_Shipment_Sda</shipment_sda>
                </rewrite>
            </flatratesda>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <pittarosso_shipmentform>
                    <file>pittarosso/shipmentform.xml</file>
                </pittarosso_shipmentform>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_adminhtml_sales_order_shipment_save>
                <observers>
                    <check_shipment_confirmation>
                        <type>singleton</type>
                        <class>Pittarosso_ShipmentForm_Model_Observer</class>
                        <method>checkShipmentConfirmation</method>
                    </check_shipment_confirmation>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_shipment_save>
            <sales_order_shipment_save_before>
                <observers>
                    <create_shipment_packages>
                        <type>singleton</type>
                        <class>Pittarosso_ShipmentForm_Model_Observer</class>
                        <method>createShipmentPackages</method>
                    </create_shipment_packages>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <create_shipment_labels>
                        <type>singleton</type>
                        <class>Pittarosso_ShipmentForm_Model_Observer</class>
                        <method>createShipmentLabels</method>
                    </create_shipment_labels>
                </observers>
            </sales_order_shipment_save_after>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <add_download_label_button>
                        <type>singleton</type>
                        <class>Pittarosso_ShipmentForm_Model_Observer</class>
                        <method>addDownloadLabelButton</method>
                    </add_download_label_button>
                    <add_download_invoice_button>
                        <type>singleton</type>
                        <class>Pittarosso_ShipmentForm_Model_Observer</class>
                        <method>addDownloadInvoiceButton</method>
                    </add_download_invoice_button>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_order_shipment_save_before>
                <observers>
                    <check_new_shipment>
                        <type>singleton</type>
                        <class>Pittarosso_ShipmentForm_Model_Observer</class>
                        <method>checkNewShipment</method>
                    </check_new_shipment>
                </observers>
            </sales_order_shipment_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <update_order_status>
                        <type>singleton</type>
                        <class>Pittarosso_ShipmentForm_Model_Observer</class>
                        <method>updateOrderStatus</method>
                    </update_order_status>
                </observers>
            </sales_order_shipment_save_after>
            <controller_action_postdispatch_adminhtml_sales_order_shipment_save>
                <observers>
                    <update_redirect_to_shipment>
                        <type>singleton</type>
                        <class>Pittarosso_ShipmentForm_Model_Observer</class>
                        <method>updateRedirectToShipment</method>
                    </update_redirect_to_shipment>
                </observers>
            </controller_action_postdispatch_adminhtml_sales_order_shipment_save>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <pittarosso_shipmentform before="Mage_Adminhtml">Pittarosso_ShipmentForm_Adminhtml</pittarosso_shipmentform>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>