<?xml version="1.0"?>
<config>
    <modules>
        <ASV_Newsmodule>
            <version>
                0.1.0
            </version>
        </ASV_Newsmodule>
    </modules>
    <frontend>
        <routers>
            <newsmodule>
                <use>standard</use>
                <args>
                    <module>ASV_Newsmodule</module>
                    <frontName>newsmodule</frontName>
                </args>
            </newsmodule>
        </routers>
        <layout>
            <updates>
                <dsnews>
                    <file>ds_news.xml</file>
                </dsnews>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <newsmodule>
                <class>ASV_Newsmodule_Model</class>
                <resourceModel>newsmodule_mysql4</resourceModel>
            </newsmodule>
            <newsmodule_mysql4>
                <class>ASV_Newsmodule_Model_Mysql4</class>
                <entities>
                    <newsmodule>
                        <table>mymodule_message</table>
                    </newsmodule>
                </entities>
            </newsmodule_mysql4>
        </models>
        <resources>
            <newsmodule_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </newsmodule_write>
            <newsmodule_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </newsmodule_read>
        </resources>
    </global>
</config>